{
  "release": {
    "branches": ["master", "next"]
  },
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": ["QuizSliver.zip"]
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "EXT_VERSION=${nextRelease.version} npm run build && zip QuizSliver.zip dist/**/*"
    }]
  ]
}
